@model  IEnumerable<odeToFood.DL.ViewModels.RestaurantReviewsViewModel>
@{
    ViewBag.Title = "Home Page";
}

<h1>The best OdeToFoods Restaurants</h1>
<div class="container">
     @foreach (var restaurant in Model)
     {
              Html.RenderPartial("Restaurantdetail", restaurant); 
     }
  </div>